##################################
# Collector and archive settings

# Public hostname for host running Grafana, Opensearch and Opensearch dashboards
# Used in nginx proxy config and when generating certs
# Also will be used to register Opensearch to lookup service if not set to localhost
MN_HOSTNAME=localhost

# Sets admin password. Must be a strong password or opensearch will reject.
# Use a combination of lowercase, uppercase, numbers and symbols (hyphens or underscores work well. generally avoid shell special characters and quotes)
MN_OPENSEARCH_ADMIN_PASSWORD=CHANGEME

# Sets password that logstash uses to authenticate to opensearch
MN_LOGSTASH_OPENSEARCH_PASSWORD=CHANGEME

##################################
# Frontend settings

# Sets the admin password for Grafana
MN_GRAFANA_ADMIN_PASSWORD=CHANGEME

##################################
# Optional settings

# URL of opensearch. This is the URL that the logstash container will use to connect to opensearch.
# Only change this if opensearch is running on a different host
MN_OPENSEARCH_URL=https://opensearch:9200

# Public Opensearch URL to be registered
MN_PUBLIC_OPENSEARCH_URL=https://${MN_HOSTNAME}/opensearch

# URL of lookup service
MN_LOOKUP_SERVICE_URL=https://35.224.218.98

# Setting used to query elastic of lookup service
MN_LOOKUP_SERVICE_ES_URL=${MN_LOOKUP_SERVICE_URL}/elastic
MN_LOOKUP_SERVICE_ES_INDEX=perfsonar-lookup
MN_LOOKUP_SERVICE_ES_USER=elastic
MN_LOOKUP_SERVICE_ES_PASS=CHANGME

# URL of Grafana instance agent will setup
MN_GRAFANA_URL=http://grafana:3000
# User agent uses to authenticate to Grafana
MN_GRAFANA_USER=admin
MN_GRAFANA_PASSWORD=${MN_GRAFANA_ADMIN_PASSWORD}

# Proxy settings for opensearch dashboards. Change this if not using nginx proxy.
MN_OPENSEARCHDASH_BASEPATH=/opensearchdash

# Fequency in second to update Grafana
MN_GRAFANA_AGENT_CHECK_INTERVAL=300