#####################
# Required settings

# Sets admin password. Must be a strong password or opensearch will reject.
MN_OPENSEARCH_ADMIN_PASSWORD=CHANGEME

# Sets password that logstash uses to authenticate to opensearch
MN_LOGSTASH_OPENSEARCH_PASSWORD=CHANGEME
