#####################
# Required settings

# Sets admin password. Must be a strong password or opensearch will reject.
# Use a combination of lowercase, uppercase, numbers and symbols (hyphens or underscores work well. generally avoid shell special characters and quotes)
MN_OPENSEARCH_ADMIN_PASSWORD=CHANGEME

# Sets password that logstash uses to authenticate to opensearch
MN_LOGSTASH_OPENSEARCH_PASSWORD=CHANGEME

# URL of opensearch. This is the URL that the logstash container will use to connect to opensearch.
# Only change this if opensearch is running on a different host
MN_OPENSEARCH_URL=https://opensearch:9200

# Public hostname for host running Grafana, Opensearch and Opensearch dashboards
# Used in nginx proxy config and when generating certs
MN_HOSTNAME=localhost

# Set to 1 if you have a valid DNS name and want valid SSL certificate for nginx
MN_USE_LETSENCRYPT=0
